@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
header{
    height: 12vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    list-style: none;
}
header ul a{
    color: black;
    text-decoration: none;
}
main{
    height: 88vh;
    background: #FBF6F3;
    display: flex;
    justify-content: center;
    align-items: center;

}
main img{
    margin: 9vw 6vh 2vw 15vh;
}
img{
    width: 581px;
    height: 653px;
    display: flex;
    justify-content: flex-start;
    align-items: center;

}
main text{
    padding: 2vh 0;
}
.text{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    padding: 3vh;


}
h2{
    color: #000;
    -webkit-text-stroke-width: 0.029vw;
    -webkit-text-stroke-color: #000;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
h3{
    color: #AD0306;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 3vh;
}
.flex{
    display: flex;
    justify-content: space-between;
    margin: 3vh 0;
    gap: 3vh;
}
p{
    color: #000;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 1.5vh;
}
h4{
    color: #000;
    -webkit-text-stroke-width: 0.006vw;
    -webkit-text-stroke-color: #000;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/*------------------section------------------*/

section{
    height: 100vh;
    background: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto 212px auto 308px;
}
.txt{
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    margin-bottom: 57px;
}
.txt h1{
    color: #142823;
    text-align: center;
    font-family: "Inter", sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0 42px;

}
.content{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 128px;
}
.box{
    width: 285px;
    height: 331px;
    border-radius: 32px;
    background:  #FFF;
    /* 200 */
    box-shadow: 0 4px 20px 0 rgba(139, 139, 139, 0.10);
    display: inline-flex;
    padding: 20px;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    margin: 20px 20px 20px 20px;
    position: relative;
}
.card{
    width: 165px;
    height: 60px;
    border: 10px solid rgba(211, 211, 211, 0.5);
    border-radius: 30px ;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 40px;
    position: absolute;
    top: -10px;
}
.box img{
    width: 245px;
    height: 200px;
    top: 20px;
    border-radius: 16px;
    background:  lightgray -8.03px
}
.box>h6{
    width: 245px;
    color:  #282828;
    text-align: center;
    font-family: "Inter", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    top: 20px;
}
.box>h5{
    color:  #106FDF;
    font-family: "Inter", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
    top: 20px;
    margin-left: 70px;
}








