@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

/*--------------HOME--------------*/

header{
    font-family: "Orbitron", sans-serif;
    height: 10vh;
    background-color: whitesmoke;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
header nav{
    width: 60%;
}
header nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-evenly;

}
header nav ul li{
    text-decoration: none;
    color: grey;
    transition: 0.5s;
    font-size: 18px;
}
header nav ul li:hover{
    color: #448744;
    transition: 1s;
}
header div{
    text-align: center;
}

/*-----------------section--------------------*/

section{
    font-family: "Orbitron", sans-serif;
    height: 90vh;
    background-image: url("slava-auchynnikau-ks53DFHVEEw-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
.first-text{
    margin-top: 10vh;
}
section p{
    font-size: 30px;
}
section h1{
    font-size: 100px;
    letter-spacing: 40px;
    margin: 15px 0;
}
section button{
    width: 200px;
    height: 40px;
    margin-top: 25px;
    background-color: #505060;
    color: white;
    border: none;
    border-radius: 10px;
    transition: 1s;
}
section button:hover{
    transform: scale(1.1);
    transition: 1s;
}
